<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Casper Dev" value="./out/packages" />
    <add key="MyGet" value="https://www.myget.org/F/casper/api/v2" />
    <add key="MyGet - Casper" value="https://www.myget.org/F/casper/api/v2/package" />
    <add key="MyGet - Casper (AppVeyor)" value="https://www.myget.org/F/casper-appveyor/api/v2/package" />
    <add key="MyGet - Casper (Travis)" value="https://www.myget.org/F/casper-travis/api/v2/package" />
  </packageSources>
</configuration>
